
<div class="center">
  <div id='primary'>
        <div class='row'>
          <div class='text-box'>
            <h1 class='title'> Discover. Connect. Travel.  </h1>
          </div>
          <form accept-charset="UTF-8" action="/experiences/search" class="form-inline" method="post">
            <div style="margin:0;padding:0;display:inline">
              
            </div>
            <input class="span5" id="geocomplete"  name="query" placeholder="Where are you going?" type="text" />
            <button class='btn btn-info' type='submit'> <i class='icon-search icon-white'></i> </button>
          </form>
        </div>
      </div>



</div>


